@import "_base";
@import "_colors";
@import "header";
@import "footer";

#main {

    .main-title{
        text-align: center;
        margin: 7rem 0 3rem 0;
    }

    //cross
    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;

      .line {
        flex: 1;
        height: 1px;
        background: $semi-color-font;
        margin: 0 15px;
      }
    
      .cross {
        user-select: none;
        font-size: 6rem;
        color: $semi-color-font;
        font-family: "Times New Roman", serif;
      }
    }

    .first-container {
        width: 90%;
        margin: auto;

        .parent {

            display: grid;
            grid-template-columns: repeat(3, .2fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            justify-content: center;
            align-items: center;
        }

        .card {
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            cursor: pointer;
            min-height: 500px;
            width: auto;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-size: cover;
            background-position: center;
            box-shadow: 0px 2px 12px 0px $black-color;

            &::before {

                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: 0.3s ease;
            }

            &:hover {

                transition: .25s 
                cubic-bezier(.13, .51, .58, 1) !important;
                transition-property: transform !important;
                transform: scale3d(1.1, 1.1, 1.1);
                z-index: 10;
                &::before {
                    background: rgba(0, 0, 0, 0.25);
                }
            }

            a {
                position: relative;
                z-index: 2;
                padding: 20px;
                font-size: 1.6rem;
                font-weight: 600;
                color: #fff;
                text-decoration: none;
            }
        }

        .div1 { 
            grid-area: 1 / 1 / 2 / 2; 
            background-image: url(/img/icons/bg/cards/agent.jpg);
        }
        .div2 { 
            grid-area: 1 / 2 / 2 / 3; 
            background-image: url(/img/icons/bg/cards/death.jpg);
        }
        .div3 { 
            grid-area: 1 / 3 / 2 / 4; 
            background-image: url(/img/icons/bg/cards/death-mo.jpg);
        }
        .div4 { 
            grid-area: 2 / 1 / 3 / 2; 
            background-image: url(/img/icons/bg/cards/urna.jpg);
        }
        .div5 { 
            grid-area: 2 / 2 / 3 / 3; 
            background-image: url(/img/icons/bg/cards/katafalk.jpg);
        }
        .div6 { 
            grid-area: 2 / 3 / 3 / 4; 
            background-image: url(/img/icons/bg/cards/place.jpg);
        }
        .div7 { 
            grid-area: 3 / 1 / 4 / 2; 
            background-image: url(/img/icons/bg/cards/vip.jpg);
        }
        .div8 { 
            grid-area: 3 / 2 / 4 / 3; 
            background-image: url(/img/icons/bg/cards/save.jpeg);
        }
        .div9 { 
            grid-area: 3 / 3 / 4 / 4; 
            background-image: url(/img/icons/bg/cards/food.jpg);
        }
    }

    .second-container {
        width: 90%;
        margin: auto;

        .parent { 
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            text-align: center;
            justify-content: center;

            .card {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              border: 1px solid $black-color;
              border-radius: 10px;
              background-color: #f8f8f8;
              
              &:hover {
                border: 0px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
                transition: all .18s;
              }

              h2, span {
                margin-top: 15px;
                color: #8799A3;
                font-family: "Montserrat", Sans-serif;
                font-size: 30px;
                font-weight: 700;
              }
              
              span {
                color: $black-color;
                font-weight: 800;
              }

              .card-btn {
                text-decoration: none;
                color: $white-color;
                background-color: #8799A3;
                border-radius: 100px 100px 100px 100px;
                margin: 25px 0 0 0;
                padding: 15px 40px 15px 40px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
                font-family: "Montserrat", Sans-serif;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;

                &:hover {
                  background-color: $semi-color-font;
                  transition: all .3s;
                }
              }

              ul {
                font-family: "Montserrat", Sans-serif;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.5em;

                li {
                  margin: 5px 15px 5px 15px;
                  text-decoration: 1px underline;
                  text-decoration-color: #9d9d9d;
                  padding: 15px;

                }
              }
            }
          }

            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 1 / 3 / 2 / 4; }
            .div4 { grid-area: 1 / 4 / 2 / 5; }
    }

    .third-container {
        margin-top: 2rem;
        font-size: 1.4rem;

        h3 {
          text-align: center;
        }
        p {
          margin: 10px;
        }
        .btn {
          padding: 8px 20px;
          background: $black-color;
          color: #fff;
          display: inline-block;
          text-decoration: none;
          border-radius: 3px;
          display: block;
          margin: 35px auto;
          box-shadow: 0px 8px 20px 1px rgb(117 115 115);
          transition: background-color 0.3s ease, transform 0.2s ease;
            &:hover {
              background-color: rgb(61, 61, 61);
              transform: scale(1.05);
            }
        
            &:active {
              transform: scale(0.98);
            }
        }
        .list {
          .text{
            list-style-type: decimal;
            margin-left: 27px;
            font-size: 1.4rem;
            strong {
              margin: 10px;
            }
          }
        }
    }    
}

/*адаптив*/

@media screen and (max-width: 1023px) {
    #main {

        .main-title{
            text-align: center;
            margin: 7rem 0 3rem 0;
        }

        .first-container {
            width: 90%;
            margin: auto;

        .parent {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9 {
              grid-row: auto;
              grid-column: auto;
            }
          }
        }

        .second-container {
          .parent {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .div1, .div2, .div3, .div4 {
              grid-row: auto;
              grid-column: auto;
            }
          }
        }
    }
}