@import "_colors";
@import "_base";

/*footer*/
#footer {
  background: $black-color;
  color: $white-color;

  .footer-container {
    width: 90%;
    margin: auto;

      .footer-accordion {
        section {
          border-bottom: 1px solid #444;
        
          .accordion-header {
            width: 100%;
            text-align: left;
            background: $black-color;
            color: $white-color;
            padding: 15px;
            font-size: 16px;
            border: none;
            outline: none;
            cursor: pointer;
          
            &.active {
              background: #333;
              color: #fff;
              
            }
          }
        
          .accordion-content {
            a {
              display: block;
              padding: 10px 15px;
              background: $black-color;
              color: $white-color;
              text-decoration: none;
              

              &:hover {
                background: $semi-color-font;
              }
            }
          }
      }
      }

.footer-under-container {
    padding: 20px 20px 80px 20px;
  }
  }
}


/*адаптив*/

@media screen and (max-width: 1023px) {
  #footer {
    width: 100%;
    background: $black-color;
    color: $white-color;

    .footer-accordion {
    section {
      .accordion-content {
        max-height: 0;
        overflow: hidden;
        background: #111;
        transition: max-height 0.4s ease, padding 0.3s ease;
        padding: 0 15px;
      }
    }
  }
  }
}
@media screen and (min-width: 1024px) {
  .footer-accordion {
    display: flex;

    section {
      flex: 1;

      .accordion-header {
        cursor: pointer;
      }

      .accordion-content {
        max-height: 0;
        overflow: hidden;
        background: #111;
        transition: max-height 0.4s ease, padding 0.3s ease;
        padding: 0 15px;
      }

      .accordion-header.active + .accordion-content {
        max-height: 500px;
        padding: 0;
        
      }
    }
  }
}